---
title:  Home
author: Kamila Součková <kamila@vesmir.sk>
layout: chrome
---

<p>testing stuff here</p>

<p>subjects:</p>
<ul>
{% for subject in site.categories %}
    <li><a href="{{ site.github.url }}/{{ subject[0] }}">{{ subject[0] }}</a></li>
{% endfor %}
</ul>

<p>recent:</p>
<ul>
{% for note in site.posts offset: 0 limit: 10 %}
    <li><a href="{{ site.github.url }}/{{ note.url }}">{{ note.title }} ({{ note.date | date_to_string }})</a></li>
{% endfor %}
</ul>

<p>repository URL: {{ site.github.repository_url }}</p>
<p>last updated: {{ site.time | date_to_long_string }}</p>
